body{
    height: 500px;
}
#About{

    background-color: #FF8C00;
    padding: 10px;

}
.nav ul li:first-of-type{
    background-color: #000;
}
.nav{
position: relative;
    
}
.info{
    background:url(../img/About/1.jpg) fixed no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 950px;
    position: relative
}



.cover {
    position: absolute;
    z-index: 2;
    background: rgb(0,0,0);
    opacity: 0.6;
    width: 100%;
    height: 100%
}
.About{
    position: relative;
    z-index: 3
}
.About h1{
    position: relative;
    text-align: center;
    color: #FFF;
    top: 250px;
    left: 700px;
    width: 400px;
    border: 1px solid #EEE; 
    transition: 0.5s ease-in-out;
    
}
.About h1:hover{
    color: #000;
    background: #FFF;
}
.About p{
       position: relative;
    text-align: center;
    color: #FFF;
    top: 250px;
    font-size: 20px;
    margin-top: 20px;
    
}
.About span{
    font-style: italic
}
.footer {
   position: relative;
    bottom:200px;
}